
:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 70px 30px;
    background-color:hsl(0, 0%, 95%);
}

.attribution {
    margin-top: 20px;
     font-size: 15px; text-align: center; 
    }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* align-items: center; */
    gap: 10px;
}
.card{
    padding: 30px;
}

.image{
     margin-top: 20px;
     margin-bottom:15px;
}


.content h2{
    font-family: 'Big Shoulders Display', sans-serif;
    margin-top: 20px;
    margin-bottom:20px;
    color:hsl(0, 0%, 95%);
    text-transform: uppercase;
}
.content p{
    font-family: 'Lexen Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size:15px;
    margin-bottom:35px;
    line-height:1.65;
}

.bright-orange{
    background-color: var(--bright-orange) ;
    border-radius: 10px 10px 0 0 ;
}
.bright-orange button{
    color: var(--bright-orange);
}

.dark-cyan{
    background-color: var(--dark-cyan);
}

.dark-cyan button{
    color: var(--dark-cyan);
}

.very-dark-cyan{
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 10px 10px;
}

.very-dark-cyan button{
    color:var(--very-dark-cyan);
}

.btn{
    margin-top:75px;
}
.btn button{
    font-size: 15px;
    font-family: 'Lexen Deca', sans-serif;
    background-color:hsl(0, 0%, 95%);
    width: 130px;
    height:45px;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.btn button:hover{
    background-color: transparent;
    color:white;
    border: 2px solid white;
    outline: none;
}

@media (min-width:1440px) {

    
    .container-1{
        height:80vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }
    .container-2{
        height:20vh;
    }
    .card{
        width: 275px;
        height:450px;
        padding:20px 40px;
    }
    .bright-orange{
        border-radius: 10px 0 0 10px;
    }
    .very-dark-cyan{
        border-radius:0 10px 10px 0;
    }
    
}

@media (max-width:375px){
    body{
        margin:30px 10px;
    }
   .container{
       height:100%;
      
   }
    .container-1{
        height: 80%;
        display: flex;
        flex-direction: column;
        margin:30px 10px;
    }
    .container-2{
        height:10%; 
    }
    .card{
        padding:35px 40px;
        padding-bottom: 0;
        height:420px;
    }
    .content h2{
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .content p{
        margin-bottom:0;
        line-height:1.8;
    }
    .btn{
        
        margin-top: 40px;
    }
    
}